<div class="wrapper">
    <nav id="sidebar">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class= "nav-item">
                        <a class="nav-link" href="/about">About</a>
                        <li class="nav-item">
                          <a class="nav-link" href="/products"> Catalog</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/products/new">Sellers</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact Us</a>
                          <img src="../images/contact.png" />

                        </li>
                    </ul>
                  </div>
                </div>
    
</div>