.wrapper{
        background: lightgrey;
        position: fixed;
        left: 0;
        top:0px;
        bottom: 0px;
        width: 160px;
        padding:40px;
        font-family: 'Heebo', sans-serif;
}

body{
    font-family: 'Heebo', sans-serif;
}

.info {
    background: rgb(127, 122, 160);
    min-height:700px;
    display: block;
    margin-left: 160px; 
    padding:10px;
}

.info1{
    padding:20px;
    background: lightgrey;
}

.jumbotron{
    text-align: center;
    background-color:teal;
    font-family: 'Heebo', sans-serif;
    padding-top:25px;
    padding-bottom:25px;
    width:100%;
    margin-top:0px;
   
}

.about_us{
    padding:30px;
    margin-left:130px;
    margin-right:55px;
    margin-bottom:10px;
    text-align: center;
    background: lightgrey;
}

.about_img{
    margin-left:500px;
}

