<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>

    <% include ./partials/navbar.ejs %>

    <section class="about">
        <h4>About Us</h4>
        <p>We are a community of rare coin collectors committed to a new buying/selling experience.<br>Gone are the days of finding coins in old dusty basements.<br> Join THE COIN LIFE!</p>
         <img src="images/coinlife.jpeg" width=500px height=500px/>
      </section>

    <% include ./partials/baseScripts.ejs %>

  </body>
</html>
